@using C_Sharp.Models
@model User

<style>
    h1 {
        border-bottom: 2px solid black;
    }

    h2 {
        font-size: 2.0em;
    }

</style>
<h1>C Sharp</h1>
<a href="/"><h2>Log Out</h2></a>
<br>