@using C_Sharp.Models
@model User

<style>

.container {
    width: 95%;
    margin: auto;
    padding: 10px;
}

.one {
    width: 50%;
    height: 1000px;
    float: left;
    vertical-align: top;
    display: inline-block;
}

.two {
    text-align: justify;
    position: relative;
    vertical-align: top;
    bottom: 330px;
    left: 900px;
    display: inline-block;
}

</style>

<body>
    <div class="container">
        <div class="one">
            <partial name="RegisterPartial">
        </div>
        <div class="two">
            <partial name="LoginPartial">
        </div>
    </div>
</body>